/* This CSS stylesheet defines styles used by required elements
in a flex application page that supports browser history */

#ie-history-frame {
    width: 0;
    height: 0;
    display: none;
}

#firefox-anchor-div {
    width: 0;
    height: 0;
    display: none;
}

#safari-form-div {
    width: 0;
    height: 0;
    display: none;
}

#safari-remember-div {
    width: 0;
    height: 0;
    display: none;
}
